<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi88b42X1lKnBYdb6TgBM2ZAfQX1HHg7U</string>
	<key>GCM_SENDER_ID</key>
	<string>562039826792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.financeapp</string>
	<key>PROJECT_ID</key>
	<string>fin-46172</string>
	<key>STORAGE_BUCKET</key>
	<string>fin-46172.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562039826792:ios:f4f52dcd65f21037ff8edd</string>
</dict>
</plist>